<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(href="/css/styles.css" rel="stylesheet")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/foundation/js/foundation.min.js')
    script.
      $(document).foundation();

  body
    div#container
      div#header
        h1 _ARCHITEKT
      div#pictures
        div#innerPicture
          div.detailAuthor #{picture.author}
          br
          div.detailImage
            img(src="#{picture.link}")
          br
          div.detailDescription #{picture.description}
          div.form
            form(action='/gallery/#{picture.id}', method='POST')
              input(type='hidden', name='_method', value='DELETE')
              input(type='submit' value='delete')
            form(action="/gallery/#{picture.id}/edit", method='GET')
              input(type='submit' value='edit')



